---
- name: Correct Bench Permissions
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: correct_bench_permissions