---
- name: Prune Docker System
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent

  roles:
    - docker_system_prune
    - docker_registry_gc
