---
- name: Setup Elasticsearch Exporter
  hosts: all
  become: yes
  become_user: root
  gather_facts: yes
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: elasticsearch_exporter
