---
- name: Add dummy 200MB file for deletion purposes
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent

  tasks:
    - name: Add 200MB file
      command: 'fallocate -l 200M /root/glass'
