---
- name: Link Bench To Shared Folder
  hosts: all
  become: yes
  become_user: root
  gather_facts: yes
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: link_benches_to_nfs
