---
- name: Mount Shared Fs on Volume
  hosts: all
  become: yes
  become_user: root
  gather_facts: yes
  vars:
    ansible_python_interpreter: auto_silent
  roles:
  - role: mount_shared_fs_on_volume