---
- name: Setup MariaDB Mount Dependency
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent

  roles:
    - set_mariadb_mount_dependency
