---
- name: Enable systemd lingering for frappe user
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: enable_systemd_lingering_for_frappe_user
