---
- name: Setup binlog indexes folder
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: setup_binlog_indexes_folder