---
- name: Umount from NFS and Cleanup Shared Directory
  hosts: all
  become: yes
  become_user: root
  gather_facts: yes
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: umount_volume_nfs_server
