---
- name: Wait for Cloud Init to finish
  hosts: all
  become: yes
  become_user: root
  gather_facts: no
  vars:
    ansible_python_interpreter: auto_silent
  roles:
    - role: wait_for_cloud_init
